@font-face {
    font-family: 'Playfair';
    src: url("./fonts/playfair.ttf");
}

@font-face {
    font-family: 'Raleway';
    src: url("./fonts/raleway.ttf");
}

body {
    background-color: #FEE2B3;
    margin: 0;
    font-family: 'Playfair';
}

#splash {
    height: 100vh;
    width: 100vw;
    position: fixed;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Raleway';
}

#splash > img {
    width: 100px;
    height: 100px;
    padding-bottom: 30px;
}

#splash.animate {
    animation: blur 1s ease-in;
    backdrop-filter: blur(0px);
    pointer-events: none;
}

#splash.animate > img, #splash.animate > div {
    animation: opacity 1s ease-in;
    opacity: 0;
}

header {
    height: 100vh;
    background-image: url("./images/photo.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FEE2B3;
}

#header__text {
    font-size: 28px;
    text-align: center;
}

#header__title {
    font-size: 52px;
    font-weight: 900;
}



.header {
    font-size: 30px;
    padding-bottom: 50px;
}

#place {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/texture.png");
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #2f1200;
}

.place__text.last {
    padding-bottom: 50px;
}

#rules {
    background: url("./images/photo.jpg");
    background-size: cover;
    background-position: center;
}

#rules__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    backdrop-filter: blur(10px);
}

#rules__row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.rules__text {
    white-space: pre-wrap;
    font-size: 10px;
    font-weight: 100;
    background-color: rgba(140, 127, 102, 0.564);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

#rules__row > .rules__text {
    text-align: end;
    margin-left: 10px;
}
#rules__row > img {
    height: 100px;
}

#rules__text-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

textarea {
    margin-bottom: 20px;
    background-color: #d9c39c;
    resize: vertical;
    min-height: 20px;
}

label {
    margin-bottom: 5px;
}

button {
    outline: 0;
    border: 0;
    background-color: #2f1200;
    color: #FEE2B3;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

@keyframes blur {
    from {
        backdrop-filter: blur(10px);
    }
    to {
        backdrop-filter: blur(0px);
    }
}

@keyframes opacity {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}